
:root {
  --color: black;
  --link-color: blue;
  --link-hover-color: darkblue;
  --focus-color: bloodorange;
  --block-width: 50rem;


  --color: black;
  --background: white;
  --border-color: black;

  --color-dark: white;
  --background-dark: black;
  --border-color-dark: white;
}
@layer app {

  :focus {
      border-color: transparent;
      outline: solid 2px var(--focus-color);
      border-radius: 3px;
  }

  .section--inverted {
      --link-color: white;
  }

  body {
      color: var(--color);
      background-color: var(--background);
  }

  @media (prefers-color-scheme: dark) {
      body {
          color: var(--color-dark);
          background-color: var(--background-dark);
      }
  }

  [aria-live]:not(.visible) {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     padding: 0;
     overflow: hidden;
     clip: rect(0 0 0 0);
     border: 0;
  }

  .block-layout {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    &.fill {
      height: 100%;
    }
  }

  .inline-layout {
    display: flex;
    gap: .25rem;

    &.fill {
      width: 100%;
    }
  }

  /**
   * Used by many container classes to have leading and
   * ending elements within a layout.
   */
  .start, .end {
  	display: flex;
  	gap: 1rem;
    flex: 1;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
  
  	p, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1rem;
      color: var(--color);
  	}
  }

  .end {
    margin-left: auto;
    margin-top: auto;
    width: max-content;
    max-width: max-content;
  }

  .fill {
    flex: 1;
    width: 100%;
  }

  .layout {
    &.narrow-column {
      display: flex;
      flex-direction: column;
      align-items: baseline;

      > .header, > .main, > .footer {
        width: 100%;
        max-width: 700px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
      }

      > .main {
        display: flex;
        flex-direction: column;
        gap: .5rem;
      }

      > .header {
        display: flex;
        align-items: baseline;
        gap: 1rem;
      }
    }
    
    .header {
      > .hgroup {
        align-self: flex-start;
        margin-top: .5rem;

        h1, h2, h3, h4, h5, h6 {
          margin-top: 0;
        }
      }

      > .nav > .menu {
        list-style: none;
        padding-left: 0;
        display: flex;
        gap: .25rem;
      }

      > .control-group {
        margin-left: auto;
      }
    }
  }

  .block-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .block {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
  }

  .block-header {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    width: 100%;
    max-width: var(--block-width);
    padding: 0 1rem;
    display: block;
    margin: 0 auto;
    font-weight: 600;

    h1, h2, h3, h4, h5, h5, p {
      margin: 0;
      font-size: 1rem;
    }
  }

  .block-body {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: var(--block-width);
    padding: 0 1rem;
    margin: 0 auto;
    display: grid;
    gap: 1rem;


    &.two-column {
      @media screen and (min-width: 580px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .block:last-child:not( .block),
  .yesscript:last-child > .block {
    flex: 1;
  }

  /* Links and buttons */
  .block-link {
    color: var(--link-color);
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: .2rem .4rem;
    text-decoration: none;
    
    & > .text {
      color: inherit;
      text-decoration: underline dashed var(--link-color) 1px;
      text-underline-offset: .3rem;
    }
    
    & > .icon {
      font-size: inherit;
      line-height: inherit;
    }

    &:hover {
      color: var(--hover-color);
    }
    
    &:hover > .text {
      text-decoration-color: var(--hover-color);
    }
    
    &:focus > .text {
      text-decoration: none;
    }
  }

  .oct-button,
  .button,
  input::file-selector-button {
    display: flex;
    box-sizing: border-box;
    gap: .3rem;
    min-width: 2rem;
    height: 2rem;
    padding: 0 .75rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-size: 1rem;
    white-space: nowrap;
    text-decoration: none;
    color: light-dark(var(--color-dark), var(--color));
    background-color: light-dark(var(--color), var(--color-dark));
    border: solid 1px light-dark(var(--color), var(--color-dark));
    border-radius: .25rem;

    &.small {
      min-width: 1.75rem;
      height: 1.75rem;
      padding: 0 .5rem;
    }

    &.large {
      min-width: 2.25rem;
      height: 2.25rem;
      padding: 0 .5rem;
    }

    &:visited {
      color: light-dark(var(--color-dark), var(--color));
    }

    &:focus {
      border: solid 1px rgb(40, 40, 40);
    }

    &:not([disabled]):not(.minimal):hover {
      color: var(--hover-color);
      border-color: var(--hover-color);
    }

    &.anchor {
      text-decoration: dotted;
    }

    &.minimal, &.anchor {
      color: light-dark(var(--color), var(--color-dark));
      background-color: transparent;
      border: solid 1px transparent;

      &:hover, &:active {
        background-color:
          color-mix(in srgb,
            light-dark(var(--background-dark), var(--background)) 30%,
            transparent
          );
      }
    }

    &.dashed {
      color: light-dark(var(--color), var(--color-dark));
      background-color: transparent;
      border: dashed 1px light-dark(var(--color), var(--color-dark));
      text-decoration: none;

      &[aria-current=page] {
        background-color:
          color-mix(in srgb,
            light-dark(var(--background-dark), var(--background)) 15%,
            transparent
          );
      }

      &:hover, &:active {
        border: dashed 1px light-dark(var(--color), var(--color-dark));
        background-color:
          color-mix(in srgb,
            light-dark(var(--background-dark), var(--background)) 30%,
            transparent
          );
      }
    }
  }

  .single-column-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  label {
    font-weight: 600;
  }

  .input {
    anchor-name: --input;
    height: 2rem;
    border-radius: 0;
    border: solid 1px black;
    background-color: white;
    box-sizing: border-box;
    width: 100%;

    &:active, &:focus {
      border: solid 1px black;
    }

    &.rounded {
      border-radius: .25rem;
    } 

    &[type=search]::-webkit-search-cancel-button {
      display: none;
      -webkit-appearance: none;
    }
  }

  .input-controls {
    display: flex;
    align-items: baseline;
    position: absolute;
    position-anchor: --input;
    right: anchor(right);
    margin-top: .1rem;
    margin-right: .1rem;
  }

  textarea {
    border: solid 2px black;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.25rem;

    &:active, &:focus {
      border: solid 2px black;
    }
  }
  
  .lov {
    display: grid;
    width: 100%;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    &.narrow {
      gap: .5rem;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border: solid 1px light-dark(var(--border-color), var(--border-color-dark));
    border-radius: .25rem;

    &.thin {
      padding: .25rem;
    }

    &.inline {
      flex-direction: row;
    }

    > .header {
      > .start {
  	    p, h1, h2, h3, h4, h5, h6 {
          font-weight: 600;
  	    }
      }
    }
  }

  .row {
    display: flex;
    align-items: baseline;
    gap: .5rem;
  }

  .action-bar {
    display: flex;
    align-items: baseline;
    gap: .5rem;
    padding: .25rem;
    /*border: solid 1px light-dark(var(--border-color), var(--border-color-dark));*/
    border-radius: .25rem;

    &.vertical {
      flex-direction: vertical;
      gap: .25rem;
      width: 100%;
      max-width: 300px;
    }

    &.block {
      width: var(--block-width);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .action-bar > .start,
  .action-bar > .end,
  .action-bar > .start
  .action-bar > .end {
  	p, h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      font-size: 1.4rem;
  	}
  }

  .action-bar > .end,
  .action-bar > .end {
    width: max-content;
    max-width: max-content;
    margin-left: auto;
  }

  .dialog[open] {
    margin: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
    max-width: calc(100dvw - 2rem);
    max-height: calc(100dvh - 2rem);
    width: 60rem;
    height: 30rem;

    &::backdrop {
      background-color: rgba(0, 0, 0, 70%);
    }

    &.wide {
      max-width: calc(100dvw - 2rem);
    }

    & > .column-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      max-height: 100%;
      gap: 1rem;
    }
  }

  .dialog-header,
  .dialog-footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-height: min-content;
    padding: .25rem .5rem;
    align-items: baseline;
    gap: 1rem;
  }

  .dialog-header {
    border-bottom: solid black 1px;
  }

  .dialog-footer {
    border-top: solid black 1px;
  }

  .dialog-header > .start,
  .dialog-header > .end,
  .dialog-footer > .start
  .dialog-footer > .end {
    p, h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }

  .dialog-title,
  .dialog-title h1,
  .dialog-title h2,
  .dialog-title h3,
  .dialog-title h4,
  .dialog-title h5,
  .dialog-title h6,
  .dialog-title p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: strong;
  }

  .dialog-body {
    flex: 1;
    padding: .5rem;
    overflow: auto;
  }

  .form-group {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .control-group {
    display: flex;
    gap: .25rem;

    &.tight {
      gap: 0;

      > * {
        border-radius: 0;
      }
      > :first-child {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }
      > :last-child {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }
    }
  }
}

